#docker-compose.yml

services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www
      - /var/www/vendor
      - /var/www/node_modules

    environment: 
      APP_ENV: local
      APP_URL: http://localhost:8000
      DB_CONNECTION: pgsql
      DB_HOST: postgres
      DB_PORT: 5432
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - recipe_blog_network
  
  postgress:
    image: postgres:16
    environment: 
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${DB_USERNAME} -d $${DB_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - recipe_blog_network
  
  node:
    image: node:20-alpine
    working_dir: /var/www
    depends_on:
      - app
    volumes:
      - .:/var/www
      - /var/www/node_modules
    command: npm run dev
    ports:
      - "5173:5173"
    networks:
      - recipe_blog_network

networks:
  recipe_blog_network:
    driver: bridge
volumes:
  pg_data:
